html,
body {
  padding: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
h4,
h5 {
  margin-top: -10px;
  font-size: 20px;
}
h3,
p {
  margin-top: -10px;
}
.meal--container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
#get_meal {
  padding: 15px 30px;
  background-color: green;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.meal--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 300px;
}
.meal--desc {
  width: 500px;
  height: 70px;
  line-height: 20px;
}
.desc {
  text-align: justify;
}
.meal--info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.video {
  position: absolute;
  top: 1000px;
  right: 50px;
}

@media screen and (max-width: 640px) {
  #get_meal {
    padding: 10px 25px;
  }
  .meal--info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
  }
  .meal--desc {
    width: 300px;
  }
  .img {
    width: 300px;
    height: 300px;
  }
  .video {
    position: absolute;
    top: 195rem;
    left: 0px;
  }
  .ing--video {
    margin-top: 1680px;
  }
}
